# The modulo (%) operator

### https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting

In [1]:
mylist = [1,2,3]
print("Zeroth Value: %d" % mylist[0])

Zeroth Value: 1

In [2]:
print("%d" % mylist[0])

1

## PrettyTable

In [3]:
from prettytable import PrettyTable
x = PrettyTable(["Conversion", "Meaning"], title="Conversion Types", max_width=40, align="l")
#x.field_names = ["Conversion", "Meaning"]
x.add_row(["'d'", "Signed integer decimal"])
x.add_row(["'i'", "Signed integer decimal"])
x.add_row(["'o'", "Signed octal value"])
x.add_row(["'x'", "Signed hexadecimal (lowercase)"])
x.add_row(["'X'", "Signed hexadecimal (uppercase)"])
x.add_row(["'e'", "Floating point exponential format (lowercase)"])
x.add_row(["'E'", "Floating point exponential format (uppercase)"])
x.add_row(["'f'", "Floating point decimal format"])
x.add_row(["'F'", "Floating point decimal format"])
x.add_row(["'g'", "Floating point format. Uses lowercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise"])
x.add_row(["'G'", "Floating point format. Uses uppercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise"])
x.add_row(["'c'", "Single character (accepts integer or single character string)"])
x.add_row(["'r'", "String (converts any Python object using repr())"])
x.add_row(["'s'", "String (converts any Python object using str())"])
x.add_row(["'a'", "String (converts any Python object using ascii())"])
x.add_row(["'%'", "No argument is converted, results in a '%' character in the result"])

print(x)

+-------------------------------------------------------+
|                    Conversion Types                   |
+------------+------------------------------------------+
| Conversion | Meaning                                  |
+------------+------------------------------------------+
| 'd'        | Signed integer decimal                   |
| 'i'        | Signed integer decimal                   |
| 'o'        | Signed octal value                       |
| 'x'        | Signed hexadecimal (lowercase)           |
| 'X'        | Signed hexadecimal (uppercase)           |
| 'e'        | Floating point exponential format        |
|            | (lowercase)                              |
| 'E'        | Floating point exponential format        |
|            | (uppercase)                              |
| 'f'        | Floating point decimal format            |
| 'F'        | Floating point decimal format            |
| 'g'        | Floating point format. Uses lowercase    |
|            | exponential format if exponent is less   |
|            | than -4 or not less than precision,      |
|            | decimal format otherwise                 |
| 'G'        | Floating point format. Uses uppercase    |
|            | exponential format if exponent is less   |
|            | than -4 or not less than precision,      |
|            | decimal format otherwise                 |
| 'c'        | Single character (accepts integer or     |
|            | single character string)                 |
| 'r'        | String (converts any Python object using |
|            | repr())                                  |
| 's'        | String (converts any Python object using |
|            | str())                                   |
| 'a'        | String (converts any Python object using |
|            | ascii())                                 |
| '%'        | No argument is converted, results in a   |
|            | '%' character in the result              |
+------------+------------------------------------------+

In [4]:
def extended_print_example():
    MY_DATA = [
      ( "'d'", "Signed integer decimal"),
      ( "'i'", "Signed integer decimal"),
      ( "'o'", "Signed octal value")]

    table = PrettyTable()
    table.add_column('Conversion', 3)
    table.add_column('Meaning', 5)
    # Notice how the column width is 10, but the values is formatted to
    # max width of 5 and padded with '*' and always showing sign character
    # and finally this formatted value is left aligned...
    #table.add_column('Int2', 10, column_alignment='<', value_format='{:*=+#5}')
    #table.add_column('Name', 7, column_alignment='^')
    #table.add_column('Value', 7, value_format='{:,.4f}')

    table.print_header()
    table.print_separator()

    for line in MY_DATA:
        table.print_line(*line)

extended_print_example()

TypeError: object of type 'int' has no len()

In [28]:
from prettytable import from_csv
with open("/Users/aasuncion/Documents/GitHub/Python-ML-Basics/data/test.csv", "r") as fp: 
    x = from_csv(fp, fieldnames=["Conversion","Meaning"], max_width=40, align="l")
print(x)

+------------+--------------------------------------------------------------------------------------------------------------------------------------------+
| Conversion |                                                                  Meaning                                                                   |
+------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|     d      |                                                          Signed integer decimal.                                                           |
|     i      |                                                          Signed integer decimal.                                                           |
|     o      |                                                            Signed octal value.                                                             |
|     u      |                                                   Obsolete type - it is identical to d.                                                    |
|     x      |                                                      Signed hexadecimal (lowercase).                                                       |
|     X      |                                                      Signed hexadecimal (uppercase).                                                       |
|     e      |                                               Floating point exponential format (lowercase).                                               |
|     E      |                                               Floating point exponential format (uppercase).                                               |
|     f      |                                                       Floating point decimal format.                                                       |
|     F      |                                                       Floating point decimal format.                                                       |
|     g      | Floating point format. Uses lowercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise. |
|     G      | Floating point format. Uses uppercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise. |
|     c      |                                       Single character (accepts integer or single character string).                                       |
|     r      |                                             String (converts any Python object using repr()).                                              |
|     s      |                                              String (converts any Python object using str()).                                              |
|     a      |                                             String (converts any Python object using ascii()).                                             |
|     %      |                                    No argument is converted, results in a %" character in the result."                                     |
+------------+--------------------------------------------------------------------------------------------------------------------------------------------+

## Using Tabulate
### https://stackoverflow.com/questions/18528533/pretty-printing-a-pandas-dataframe

In [23]:
from tabulate import tabulate
import pandas as pd

df = pd.DataFrame({'col_two' : [0.0001, 1e-005 , 1e-006, 1e-007],
                   'column_3' : ['ABCD', 'ABCD', 'long string', 'ABCD']})
print(tabulate(df, headers='keys', tablefmt='psql'))

+----+-----------+-------------+
|    |   col_two | column_3    |
|----+-----------+-------------|
|  0 |    0.0001 | ABCD        |
|  1 |    1e-05  | ABCD        |
|  2 |    1e-06  | long string |
|  3 |    1e-07  | ABCD        |
+----+-----------+-------------+

## Using iPython Display
### https://stackoverflow.com/questions/18528533/pretty-printing-a-pandas-dataframe

In [26]:
from IPython.display import display, HTML

display(HTML(df.to_html()))

### https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.to_html.html

In [68]:
from IPython.display import display, HTML
df2 = pd.read_csv("/Users/aasuncion/Documents/GitHub/Python-ML-Basics/data/test.csv")
display(HTML(df2.to_html(header=True, columns=None, index=False, justify='left')))